$orange: #e0562f;
$darkGrey: #231f20;
$lightGrey: #7d7d7d;

//--------------------------------------------
$headerBackground: $orange;

$articleHeadingBackground: $orange;
$articleHeadingText: #fff;

$nextMeetingHeadingBackground: $darkGrey;
$prevMeetingHeadingBackground: $lightGrey;
$prevMeetingHeadingTest: #fff;

$presenterText: $orange;