header {
  h1 {
    margin: 20px auto;
    width: 334px;
    height: 252px;
    background: url(/img/gemCityJS.jpg) no-repeat;
    text-indent: -9999px;
  }
}

.speaker {
  color: #00bbf6;
  text-decoration: none;
}

section {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  
  h1 {
    margin-bottom: 0;
  }
  h2 {
    margin-top: .2em;
  }
}

input {
  display: block;
  margin: 1em auto 2em;
  width: 70%;
  text-align: center;
}

form {
  margin-top: 2em;
}

input[type=email] {
  color: #323232;
  font-size: 2em;
  padding: 0.2em;
  max-width: 20em;
  margin-bottom: 1em;
}

input[type=submit] {
  width: auto;
  border-radius: 5px;
  border-width: 0;
  color: #555;
  font-size: 1.2em;
  padding: .2em;

  &:hover {
    background-color: #f1582e;
    color: #fff;
  }
}

iframe {
  width: 100%;
  height: 350px;
}