header {
  h1 {
    margin: 20px auto;
    width: 334px;
    height: 252px;
    background: url(/img/gemCityJS.jpg) no-repeat;
    text-indent: -9999px;
  }
}

.speaker {
  color: #00bbf6;
  text-decoration: none;
}

section {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  
  h1 {
    margin-bottom: 0;
  }
  h2 {
    margin-top: .2em;
  }
}

input {
  display: block;
  margin: 1em auto 2em;
  width: 70%;
  text-align: center;
}

form {
  margin-top: 2em;
}

input[type=submit] {
  width: auto;
  border-radius: 5px;
  color: #555;

  &:hover {
    background: #f1582e;
    border-width: 1px;
    margin-top: -1px;
  }
}

iframe {
  width: 100%;
  height: 350px;
}