footer {
  background: $footerBackground;
  color: $footerText;
  float: left;
  text-align: center;
  
  h2 {
    text-transform: uppercase;
  }
  
  .icon-twitter,
  .icon-github,
  .icon-sparkbox {
    text-decoration: none;
        
    &:before {
      color: $trackUs;
      font-size: 35px;
    }
  }
  
}

// .twitter {
//   display: block;
//   height: 45px;
//   width: 45px;
//   margin: 0 auto;
//   color: #444;
//   text-indent: -9999px;
// }

