footer {
  background: $footerBackground;
  color: $footerText;
  float: left;
  text-align: center;
  
  h2 {
    text-transform: uppercase;
  }
}

.twitter {
  background: url(../img/twitter.svg) no-repeat;
  display: block;
  height: 45px;
  width: 45px;
  margin: 0 auto;
  color: #444;
  text-indent: -9999px;
}