<!doctype html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link type="text/css" rel="stylesheet" href="/css/mq.css">
</head>

<body>
  <header>
    <h1>
      <a href="/">
        Gem City JS
      </a>
    </h1>
    <p>
      Gem City JS is a meetup of web developers who share a desire to share and learn more about JavaScript.
    </p>
  </header>

  {{ content }}

  <footer>
    <div class="column">
      <h2>Who can come?</h2>
      <p>The only prerequisite to attend is a desire to learn more about JavaScript. We'd love to see you at our next meetup.</p>
    
      <h2>Keep track of us</h2>

      <a class="icon-twitter" href="http://twitter.com/gemcityjs"><span class="hidden">@gemcityjs</span></a>
      <a class="icon-github" href="http://github.com/gemcityjs"><span class="hidden">gemcityjs</span></a>
      <a class="icon-sparkbox" href="http://twitter.com/gemcityjs"><span class="hidden">sparkbox</span></a>
    </div>
    
    <div class="column">
      <h2>Where we meet</h2>
      <div class="vcard">
        <div class="org">Sparkbox</div>
        <div class="adr">
          <div class="street-address">411 E. Fifth St.</div>
          <span class="locality">Dayton</span>, 
          <span class="region">OH</span>
        </div>
      </div>
      <p>Park in the lot behind the building and go in through the blue door. Look for the Gem City JS sign. Lost? Call us: <b>937.401.0915</b>.</p>
      <iframe class="map" src='http://a.tiles.mapbox.com/v3/robtarr.map-e984ivi3.html#17/39.75718000000001/-84.18447999999995'></iframe>
    </div>
  </footer>
  <script type="text/javascript" src="//use.typekit.net/yff4knu.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</body>
</html>